<div class ="select">
    <li><%= link_to "受注履歴", orders_path %></li>
    <li><%= link_to "商品管理", products_path %></li>
    <li><%= link_to "アカウント", user_path(current_user) %></li>

    </div>


