<div class="cart">
<div class="wrapper">

 <H3><%= "商品数: #{@total_item}点" %></H3>
 <H3><%= "合計：#{@total&.to_s(:delimited)}円" %></H3>


<div class="logo">
<%= link_to (image_tag "cart.png", height: "55", with: "70", class: "btn"), my_cart_path %>
<%= link_to "買い物かご確認", my_cart_path %>
 </div>

 </div>
</div>