<div class="cart">
<div class="wrapper">
<H3>カートやで。</H3>
<div class="logo">
<%= link_to (image_tag "cart.png", height: "55", with: "70", class: "btn"), new_order_path %>
 </div>
 </div>

</div>