/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, transparent, #9D8E87);
}

.header .wrapper {
    justify-content: space-between;
    display: flex;
}

.header .wrapper .logo {
    padding: 0 15px;
}


.header .wrapper .nav .btn {
    color: ivory;
    text-decoration: none;
    display: block;
    /*幅と高さを持ったブロック要素*/
    line-height: 55px;
    /*ヘッダーの高さと同じ60px*/
    padding: 0 25px;
    /*各リスト項目の余白左右20px*/
}

.header .wrapper .nav .btn:hover {
    background: #EDE4E1;
    opacity: 0.7;
    color: #9D8E87;
}

.footer {
    width: 100%;
    height: 40px;
    background: #9D8E87;
    opacity: 0.7;

    bottom: 0;
}

.footer p {
    color: ivory;
    text-align: center;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0px;
}

main {
    flex: 1;
    background-color: rgba(237, 228, 225, 0.2);
}

.cart {
    width: 100%;
    height: 65px;
    opacity: 0.85;
    background: #E8D3CA;
    bottom: 0px;
    position: sticky;
}

body main .cart .wrapper {
    justify-content: space-around;
    display: flex;
}

.cart .wrapper H3 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.card .card_body {
    display: flex;

}


a:hover {
    background-color: transparent;
}

.field_with_errors {
    display: contents;
}



.select li {
    box-sizing: content-box;
    text-align: center;
    list-style: none;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #9D8E87;
    background: #E8D3CA;
    border-bottom: solid 6px #e8dfdc;
    border-radius: 9px;
}

.card .card-body li {
    list-style: none;
}

.pagination {
    justify-content: center;
}

.pagination>li>a {
    border: none;
    color: #696969;
    font-size: 1.4em;
}

.pagination>.active>a {
    background: #93c9ff;
    border-radius: 15px;
}

.pagination>li>a:hover {
    border-radius: 15px;
}